@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Vekommen";
}


    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

            @if (Request.QueryString.HasValue)
            {
                <h1 class="cover-heading">Takk</h1>
                <div>&nbsp;</div>
                <h4>
                    Deres svar er registrert. Om noe ble feil, trykk på "Endre/se på registrering" nedenfor. Om dere skulle få behov for å endre på noe på et senere tidspunkt, gå inn på
                    registrerings-siden og bruk den samme E-postadressen som nå.
                </h4>
            }
            else
            {
                <h1 class="cover-heading">Velkommen</h1>
                <div>&nbsp;</div>
                <h4>Her kan dere:</h4>
            }
            <div>&nbsp;</div>
            <div>
                <a class="btn btn-primary active center-block" style="margin-bottom:4px; word-wrap:break-word;" href="/Attendees">Registere om dere kommer eller ikke</a>
                <a class="btn btn-primary active center-block" style="margin-bottom:4px; word-wrap:break-word;" href="/Info">Se informasjon om bryllypet</a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

